.mobileContainer {
font-family: 'Inter, sans-serif';
width: 390px;
height: 844px;
margin: 20px auto;
background-color: #ffffff;
box-shadow: 0 0 20px rgba(0,0,0,0.15);
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
border-radius: 40px;
border: 8px solid #333;
position: relative;
}


.splashScreen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 20px;
gap: 40px;
width: 100%;
height: 100%;
background-color: #f8f8f8;
color: white;
text-align: center;
}

.logo {
  width: 40%;
}

.splashH1 {
font-size: 4em;
font-weight: 900;
margin-bottom: 0;
color:#222;
}

.splashH2 {
font-size: 1.2em;
font-weight: 300;
margin-bottom: 50px;
color:#222;
font-style: italic;
}

.splashButton {
padding: 15px 40px;
font-size: 1.2em;
font-weight: bold;
border-radius: 30px;
border: none;
background-color: #7ba1ba; /* Amber */
color: #0d1515;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
transition: all 0.3s;
}

.cameraView {
width: 100%;
padding: 20px 0;
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
}

.videoWrapper {
width: calc(100% - 40px); /* Full width minus padding */
margin: 10px 20px;
border: none;
border-radius: 8px;
overflow: hidden;
aspect-ratio: 4 / 3;
background-color: #222;
position: relative;
}

.video {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}

.buttonGroup {
display: flex;
justify-content: center;
gap: 15px;
padding: 0 20px;
width: 100%;
}

.button {
padding: 10px 15px;
border: none;
border-radius: 6px;
color: white;
font-size: 1em;
cursor: pointer;
transition: background-color 0.2s;
flex-grow: 1;
}

.message {
color: #7f8c8d;
min-height: 20px;
padding: 10px 20px;
font-size: 0.9em;
}


.photoOutput {
width: calc(100% - 40px);
margin: 15px 20px;
padding-top: 15px;
border-top: 1px solid #ddd;
text-align: center;
}

.photo {
max-width: 100%;
height: auto;
border-radius: 8px;
margin-top: 10px;
border: 2px solid #3498db;
}

.backButton {
position: absolute;
top: 10px;
left: 10px;
background-color: rgba(0,0,0,0.5);
color: white;
padding: 5px 10px;
border-radius: 5px;
z-index: 10;
border: none;
cursor: pointer;
}