.mobileContainer {
font-family: 'Inter, sans-serif';
width: 390px;
height: 844px;
margin: auto;
background-color: #ffffff;
box-shadow: 0 0 20px rgba(0,0,0,0.15);
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
border-radius: 40px;
border: 8px solid #333;
position: relative;
}


.splashScreen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 20px;
gap: 40px;
width: 100%;
height: 100%;
background-color: #f8f8f8;
color: white;
text-align: center;
}

.logo {
  width: 40%;
}

.splashH1 {
font-size: 4em;
font-weight: 900;
margin-bottom: 0;
color:#222;
}

.splashH2 {
font-size: 1.2em;
font-weight: 300;
margin-bottom: 50px;
color:#222;
font-style: italic;
}

.splashButton {
padding: 15px 40px;
font-size: 1.2em;
font-weight: bold;
border-radius: 30px;
border: none;
background-color: #7ba1ba;
color: #0d1515;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
transition: all 0.3s;
}

.buttonGroup {
display: flex;
justify-content: center;
gap: 15px;
padding: 0 20px;
width: 100%;
}

.button {
padding: 10px 15px;
border: none;
border-radius: 6px;
color: white;
font-size: 1em;
cursor: pointer;
transition: background-color 0.2s;
flex-grow: 1;
}

.message {
color: #7f8c8d;
min-height: 20px;
padding: 10px 20px;
font-size: 0.9em;
}

.uploadedImage {
width: 35%;
}

.imageScreen {
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
padding: 20px;
gap: 20px;
width: 100%;
height: 100%;
background-color: #f8f8f8;
text-align: center;
}

.imageTitle {
  color: #222;
  font-size: 1.2em;
  font-weight: 300;
  margin: 50px;
  padding: 10px;
  background-color: #7ba1ba;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 20px;
}

.informationLabel {
  color:#222;
  text-align: left;
  margin: auto 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.informationValue {
  color:#222;
  text-align: left;
  margin: auto 10px;
  font-size: 1em;
  background-color: #b7c1c7;
  border-radius: 15px;
  padding: 10px;

}

.buttonRow {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

.confirmTitle {
  color: #222;
  font-size: 50px;
  font-weight: 600;
  margin: 50px;
  padding: 20px;
  background-color: #7ba1ba;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  border-radius: 20px;
}